<mat-card class="card">

  <mat-toolbar color="primary">
      <span>Lista de Alunos</span>
  </mat-toolbar>

<table mat-table [dataSource]="alunos" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


<!-- Name Column -->
<ng-container matColumnDef="id">
  <th mat-header-cell *matHeaderCellDef> # </th>
  <td mat-cell *matCellDef="let alunos"> {{alunos.id}} </td>
</ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nomealunos">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let alunos"> {{alunos.nomealunos}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</mat-card>
